<% if game.over? %>
    <!-- Toggle A -->
    <div class="switches only:flex items-center justify-center w-full mt-2" data-controller="playerReady">
        <div class="mr-3 text-white text-sm font-light">
            Move the toggle to mark yourself as ready ->
        </div>
        <input type="checkbox" id="1" data-playerReady-target="checkbox" data-action="change->playerReady#changeStatus" data-player-id="<%= session[:player_id] || player %>">
        <label for="1">
          <span></span>
        </label>
    </div>
<% end %>