<% if game.over? %>
    <!-- Toggle A -->
    <div class="flex items-center justify-center w-full mt-2">
        <label 
        for="playerReadyToggle"
        class="flex items-center cursor-pointer">
            <!-- label -->
            <div class="mr-3 text-white text-sm font-light">
            Move the toggle to mark yourself as ready ->
            </div>
            <!-- toggle -->
            <div class="relative">
            <!-- input -->
            <input id="playerReadyToggle" type="checkbox" class="sr-only" />
            <!-- line -->
            <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
            <!-- dot -->
            <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
            </div>

        </label>
    </div>
<% end %>