<% if game.over? || game.win? %>
    <div class="w-full max-w-xs md:w-1/3 p-2 border md:border-1 rounded-lg border-white">
        <%= render 'games/win', :game => game %>
        <%= render "games/word", :game => game %>
    </div>
<% end %>