<% if game.over? && session[:player_id] != game.find_player(game.active_player).id %>
    <div class="text-center text-sm md:text-base mt-2">
        <h1 class="font-light">When all players are ready, 
            <span class="font-bold"> <%= game.find_player(game.active_player).name.capitalize %></span> 
            can start the next round...</h1>
    </div>
<% elsif game.over? && session[:player_id] == game.find_player(game.active_player).id %>
    <div class="text-center text-sm md:text-base mt-2">
        <h1 class="font-light">When both players are ready, you can start the next round...</h1>
    </div>
<% end %> 