<div class="min-h-100px flex flex-col justify-center text-center text-3xl font-bold text-white">
  <% if @game.over? %>
    You Win!
  <% end %>
</div>

<div id="<%= dom_id(@game) %>" class=""> 

  <div class="flex">
    <div class="hidden md:block md:w-2/5">
    </div>
    <div class=" flex flex-col w-full max-w-lg mx-auto">
        <%= render "game", :game => @game %>
    </div> 
    <div class="hidden md:block md:w-2/5">
      <div class="w-2/3">
        <h1 class="text-white text-2xl font-bold">Play with a friend</h1>
        <p class="text-white">Compete with a friend in a head to head match. Best of 5 games wins it!</p>
        <div class="flex items-center mt-3">
          <span class="bg-gray-300 p-2 rounded-sm text-slate-800">http://example.com/share/game</span>
          <span class="material-icons text-white text-7xl pl-2">
            file_copy 
          </span>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="max-w-xl mx-auto mt-10">
    <%= render "keyboard", :game => @game %>
</div>