<div class="min-h-100px flex flex-col justify-center text-center text-3xl font-bold text-white">
  <% if @game.over? %>
    You Win!
  <% end %>
</div>

<div id="<%= dom_id(@game) %>" class=""> 
  <%= render "game", :game => @game %>
</div>

<div class="max-w-xl mx-auto mt-10">
  <%= render "keyboard", :game => @game %>
</div>