/* Toggle A */
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }

  .custom-height {
    height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
  }