/* Toggle A */
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }


  body {
    min-height: 100vh;
  }

  .custom-height {
    height: -webkit-fill-available;
  }

  /* .custom-height {
    min-height: 100vh;
    height: -webkit-fill-available; 
  }

  html {
    min-height: -webkit-fill-available;
  } */